version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  temporal:
    image: temporalio/auto-setup:1.22
    environment:
      - DB=postgresql
      - POSTGRES_USER=${TEMPORAL_DB_USER}
      - POSTGRES_PWD=${TEMPORAL_DB_PWD}
      - POSTGRES_SEEDS=postgres
      - POSTGRES_DB=${TEMPORAL_DB_NAME}
    ports:
      - "7233:7233"
    depends_on:
      - postgres

volumes:
  pg_data:
