name: temporal_order_workflow

services:
  mysql:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "${MYSQL_PORT}:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 10
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - temporal-network

  temporal:
    image: temporalio/auto-setup:1.22
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      DB: mysql
      MYSQL_SEEDS: mysql
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PWD: ${MYSQL_PASSWORD}
      MYSQL_DB: ${MYSQL_DATABASE}
    ports:
      - "${TEMPORAL_PORT}:7233"
    networks:
      - temporal-network

networks:
  temporal-network:
    driver: bridge

volumes:
  mysql_data:
